#rest-timer-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 33, 33, 0.897);
    z-index: 9999;
}

#timer-header {
    margin-top: 15vh;
    margin-left: auto;
    z-index: 9999;
}

#timer-selector {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 75%;
}

#close-timer-container {
    margin-top: 30%;
}

#timer-display {
    font-size: 2rem;
}