{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    | Membership Registration Complete
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">       
        <div class="col-12 offset-md-4 col-md-4">
            <h2>You're Registered. Thank you</h2>
            <hr>
        </div>
    </div>
    <div class="row">    
        <div class="col-12 offset-md-4 col-md-4 mt-3">
            <a href="{% url 'dashboard' %}" class="btn btn-primary btn-block">
                Go to the Dashboard
            </a>
            <a href="{% url 'membership_status' %}" class="btn btn-secondary mt-3 btn-block">
                View membership details
            </a>
        </div>        
    </div>            
</div>
{% endblock %}