{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    | Membership Status
{% endblock %}
{% block content %}
<div class="container mt-5">
    {% if profile.is_subscribed %}
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 mb-3">
                <h2>You are currently a paying member</h2>
                <h3>Thank you!</h3>
                <hr>
            </div>
        </div>
        <div class="row">   
            <div class="col-12 col-md-4 offset-md-4">
                <p>Your Stripe Subscription ID is: {{ profile.stripe_subscription_id }}
                </p>
                <p>Your last payment was: {{ profile.last_payment }}
                </p>
                <p>Your next payment will be on: {{ profile.next_payment }}
                </p>
                <hr>
                <a class="mt-3 no-decoration" href="{% url 'cancel_membership' %}">
                    <button class="btn btn-block btn-warning">Cancel membership</button>
                </a>
            </div>
        </div>
    {% elif profile.is_subscribed == False %}
        <div class="row">
            <div class="col-12 offset-md-4 col-md-4">
                <h2>You are not currently a paying member</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-md-4 col-md-4">
                {% if profile.last_payment %}
                    <p class="mt-3">You will have full access until: <strong>{{ profile.next_payment }}</strong></p>
                {% endif %}      
                <hr> 
                <a href="{% url 'membership_signup' %}" class="mt-3 no-decoration">
                    <button class="btn btn-block btn-primary">Click here to subscribe</button>
                </a>
            </div>
        </div>          
    {% endif %}           
</div>            
{% endblock %}