{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-4">       
        <div class="col-12 col-md-4">
            <h2>Your membership has been cancelled</h2>
            <h3>Thank you!</h3>
        </div>    
        <div class="col-12 col-md-8">
            <p>Your last payment was: <strong>{{ profile.last_payment }}</strong>
            </p>
            <p>You can continue to use Overreach until: <strong>{{ profile.next_payment }}</strong>
            </p>
                <a href="{% url 'membership_signup' %}">
                    <button class="btn btn-primary btn-block">Click here to re-subscribe</button>
                </a>
        </div>        
    </div>            
</div>

{% endblock %}