{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    | Membership Cancelled
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">       
        <div class="col-12 col-md-4 offset-md-4">
            <h2>Your membership has been cancelled</h2>
            <hr>
        </div>
    </div>
    <div class="row">    
        <div class="col-12 col-md-4 offset-md-4">
            <p>Your last payment was: <strong>{{ profile.last_payment }}</strong>
            </p>
            <p>You can continue to use Overreach until: <strong>{{ profile.next_payment }}</strong>
            </p>
            <hr>
            <a href="{% url 'membership_signup' %}" class="no-decoration">
                <button class="btn btn-block btn-primary">Click here to re-subscribe</button>
            </a>
        </div>        
    </div>            
</div>

{% endblock %}