{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    | Edit Profile Details
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mb-5">
    <div class="row mt-4">
        <div class="col-12 col-md-4">
            <h2>Edit Profile</h2>
            <a href="{% url 'membership_status' %}">
                <button class="btn btn-primary mt-3 mb-3 btn-block">Manage subscription</button>
            </a>   
        </div>
        <div class="col-12 col-md-8">
            <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h5>Information for your public profile:</h5>
                {{ form.first_name | as_crispy_field }}
                {{ form.last_name | as_crispy_field }}
                {{ form.main_goals | as_crispy_field }}
                {{ form.image | as_crispy_field }}
                <hr>
                <h5>Save your default billing address (will not be displayed):</h5>
                {{ form.default_billing_name | as_crispy_field }}
                {{ form.default_billing_email | as_crispy_field }}
                {{ form.default_street_address1 | as_crispy_field }}
                {{ form.default_street_address2 | as_crispy_field }}            
                {{ form.default_town_or_city | as_crispy_field }}
                {{ form.default_county | as_crispy_field }}
                {{ form.default_postcode | as_crispy_field }}
                {{ form.default_country | as_crispy_field }}
                <div id="button-container" class="form-row justify-content-center">
                    <div class="form-group mt-3 col-sm-6"> 
                        <button class="btn btn-primary form-control text-uppercase" id="save-profile" type="submit">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{% endblock %}