{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Friends</h1>
    <div class="row">        
        {% for workout in friends_workouts %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ workout.session_name }}</h5>
                        <p class="card-text"><small>Logged on: {{ workout.created_at }} by <a href="{% url 'profile' workout.created_by.id %}">{{ workout.created_by }}</a></small></p>                        
                            <div class="row">
                            <div class="col-4"><small>Vol:</small></div>
                            <div class="col-4"><small>Reps:</small></div>
                            <div class="col-4"><small>RPE:</small></div>
                        </div>
                        <div class="row">
                            <div class="col-4">{{ workout.session_volume }}</div>
                            <div class="col-4">{{ workout.session_reps }}</div>
                            <div class="col-4">{{ workout.session_average_rpe }}</div>
                        </div>
                        <a href="{% url 'workout' workout.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-2 mt-2">
                    <hr>
                </div>
            {% endif %}                        
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-2 mt-2">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-2 mt-2">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-2 mt-2">
                    <hr>
                </div>
            {% endif %}
        {% endfor %}    
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{% endblock %}