{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-4 text-center">
            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
            <p>Member since: {{ profile.signup_date }}</p>
            {% if profile.image %}
                <a href="{{ profile.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-circle mt-3" src="{{ profile.image.url }}" alt="{{ profile.user.username }}">
                </a>
            {% endif %}
            <a href="{% url 'add_follower' profile.id %}">
                <button class="btn btn-primary btn-sm btn-block mt-5">Follow</button>
            </a>
        </div>
        <div class="col-6 col-md-4">
            <p>Number of workouts logged:</p>
            <p>{{ number_of_workouts }}</p>
        </div>
        <div class="col-6 col-md-4">
            <p>Total training volume shifted since joining Overreach:</p>
            <p>{{ total_training_volume }} kilos</p>
        </div>
        <div class="col-6 col-md-4 offset-md-4">
            <p>Total reps lifted since joining Overreach:</p>
            <p>{{ total_training_reps }}</p>
        </div>
        <div class="col-6 col-md-4">
            <p>Main goals:</p> 
            <p>{{ profile.main_goals }}</p>
        </div>
    </div>
</div>


{% endblock %}
{% block postloadjs %}
{% endblock %}