/* all text */



/* card components */
.card {
    min-height: 245px;
    max-height: 245px;
    margin-bottom: 1.5rem;
}

.workout-card-footer {
    margin: 0;
}

.card-button-group {
    width: 100%;
}

.view-other-users-workout {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-text {
    margin-top: 1.5rem;
}

.vol-col {
    background-color: rgba(8, 114, 128, 0.664);
}

.reps-col {
    background-color: rgba(8, 114, 128, 0.664);
}

.rpe-col {
    background-color: rgba(8, 114, 128, 0.664);
}

.workout-metrics {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 1.75rem;
}

.btn-group>.btn:not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    margin-left: 0;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.all-workouts-db-link-card {
    background-color: rgba(8, 114, 128, 0.5);
    text-decoration: none;
    color: black;
}

.all-workouts-db-link-card:hover {
    background-color: rgba(8, 114, 128, 0.3);
    text-decoration: none;
}

.all-workouts-db-link:hover {
    background-color: rgba(8, 114, 128, 0.2);
    text-decoration: none;
}

.empty-friends-workouts {
    background-color: rgba(8, 114, 128, 0.2);
}

.card-body::-webkit-scrollbar {
    display: none;
}

.card-body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.scroll-icon-up {
    margin-bottom: 12%;
}
/* friends template */

.friends-workout-container {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
}

.fa-thumbs-up {
    font-size: 1.15rem;
}

.interactions-container {
    background-color: rgba(0, 166, 2, 0.3);
}

.fa-comment-alt {
    font-size: 1.15rem;
}

/* all forms */

#workout-sets {
    max-width: 768px;
    margin: auto;
}

/* all images */
.profile-image-wrapper {
    height: 200px;
    width: 200px;
}
