/* Global settings */

html, body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(53, 58, 77, 1);    
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    min-height: -webkit-fill-available;
    /* height: calc(100vh - calc(100vh - 100%)); */
}

#push-footer-outer {
    /* min-height: 100%; */
    min-height: calc(100vh - calc(100vh - 100%));
    background-color: rgba(0, 0, 0, .0125);
}

#push-footer-inner {
    padding-bottom: 82px;

}

.no-decoration:hover {
    text-decoration: none;
}

/* lightweight text class */

.lightweight-text {
    font-weight: 200;
}

/* navbar */

.navbar {
    font-weight: 400;
    min-height: 60px;
}

.navbar {
    background-color: rgba(0, 0, 0, .075);
}

.active-workout {
    color: rgba(178, 33, 0, 0.8) !important;
}

/* footer */

footer {
    background-color: rgba(0, 0, 0, .075);
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
    max-height: 82px;
    min-height: 82px;
    margin-top: -82px;
    padding-bottom: 1.5vh;
}

#footer {
    background-color: rgba(0, 0, 0, .075);
}

.socialMedia-links i {
    padding-bottom: 15px;
}

.socialMedia-links a i {
  width: 24px;
  height: 24px;
  padding: 12px 0;
  border-radius: 0.25rem;
  font-size: 14px;
  line-height: 7px;
  text-align: center;
  color: #fafaff;
  background: rgba(0, 178, 131, 1);
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.socialMedia-links i:hover {
    background: rgba(0, 178, 131, 0.75);
}

.socialMedia-links a:hover {
    text-decoration: none;
}


/* disable shadows and borders on all buttons */

.btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
}


/* card components */

.card {
    min-height: 245px;
    max-height: 245px;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, .0250);
}

.workout-card-footer {
    margin: 0;
}

.card-button-group {
    width: 100%;
}

.view-other-users-workout {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-text {
    margin-top: 1.5rem;
}

.vol-col {
    background-color: rgba(178, 33, 0, 0.6);
}

.reps-col {
    background-color: rgba(178, 33, 0, 0.7);
}

.rpe-col {
    background-color: rgba(178, 33, 0, 0.8);
}

.workout-metrics {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 1.75rem;
}

/* card buttons */

.btn-group>.btn:not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    margin-left: 0;
    background-color: rgba(53, 58, 77, 1);
}

.btn-group>.btn:not(:first-child):hover {
    background-color: rgba(53, 58, 77, 0.75);
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: .25rem;
    border: none;
    background-color: rgba(53, 58, 77, 1);
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle):hover {
    background-color: rgba(53, 58, 77, 0.75);
}

.view-other-users-workout {
    background-color: rgba(53, 58, 77, 1);
    max-height: 36px;
}

/* large dashboard links */

.all-workouts-db-link-card {
    background-color: rgba(0, 178, 131, 1);
    text-decoration: none;
    color: rgba(53, 58, 77, 1);
}

.all-workouts-db-link-card:hover {
    background-color: rgba(0, 178, 131, 0.75);
    text-decoration: none;
}

.all-workouts-db-link:hover {
    background-color: rgba(8, 114, 128, 0.2);
    text-decoration: none;
}

.empty-friends-workouts {
    background-color: rgba(0, 178, 131, 0.75);
}

.card-body::-webkit-scrollbar {
    display: none;
}

.card-body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.scroll-icon-up {
    margin-bottom: 12%;
}

/* card content margins */

.push-up {
    margin-top: -1rem;
}

.push-up-half {
    margin-top: -0.1rem;
}

/* everyone's thumbnail margins */

.profile-thumbnail {
    margin-left: 2.5rem;
    margin-top: 0.65rem;
}

/* friends template */

.friends-profile-thumbnail {
    margin-top: 2rem;
}

.friends-workout-container {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1.25rem 0 0 0;
    background-color: rgba(0, 0, 0, .0250);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fa-thumbs-up {
    font-size: 1.15rem;
}

.view-workout {
    border-color: rgba(0, 178, 131, 1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(0, 178, 131, 1);
    color: white;
}

.view-workout:hover {
    background-color: rgba(0, 178, 131, 0.75);
    color: white;
}

.fa-comment-alt {
    font-size: 1.15rem;
}

.comments-link {
    color: black;
}

.comments-link:hover {
    text-decoration: none;
    color: black;
}

/* workout tables on friends template */

.thead-friends {
    background-color: rgba(53, 58, 77, 1);
}

.view-workout:hover, .view-workout:active, .view-workout:focus {
    border-color: rgba(0, 178, 131, 0.75);
    background-color: rgba(0, 178, 131, 0.75) !important;
}

.friends-exercise-name {
    background-color: rgba(178, 33, 0, 0.6);
}

/* profile template */

.btn-follow {
    background-color: rgba(0, 178, 131, 1);
    border-color: rgba(0, 178, 131, 1);
}

.btn-unfollow {
    background-color: rgba(178, 33, 0, 1);
    border-color: rgba(178, 33, 0, 1);
}

.btn-follow:hover, .btn-follow:active, .btn-follow:focus {
    border-color: rgba(0, 178, 131, 0.75);
    background-color: rgba(0, 178, 131, 0.75) !important;
}

.btn-unfollow:hover, .btn-unfollow:active, .btn-unfollow:focus {
    border-color: rgba(178, 33, 0, 0.75);
    background-color: rgba(178, 33, 0, 0.75) !important;
}

/* active workout form */

#workout-sets {
    max-width: 768px;
    margin: auto;
}

/* individual workout page */

th {
    width: 25%;
}

#workout-accordian {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#likes-count {
    margin-left: 3rem;
    margin-top: -1.5rem;
}

#like-workout {
    font-size: 1.7rem;
    color: rgba(0, 178, 131, 1);    
}

#unlike-workout {
    font-size: 1.7rem;
    color: rgba(0, 178, 131, 1);
}

/* landing page */

.allauth-button {
    background-color: rgba(0, 178, 131, 1);
}

.allauth-button:hover {
    background-color: rgba(0, 178, 131, 0.75);
}

#callout {
    height: calc(100vh - 142px);
    background: url('/media/overreach_background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#callout-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.callout-icons {
    font-size: 1.7rem;
    color: rgba(0, 178, 131, 1);
}

.jumbotron {
    margin-top: 15vh;
}

/* all images */

.profile-image-wrapper {
    height: 200px;
    width: 200px;
}

/* alerts */

.alerts-container {
    position: fixed;
    top: 72px;
    right: 18px;
    z-index: 99999999999;
}

/* media queries */

@media only screen and (max-height: 320px) {

    .jumbotron {
        margin-top: 1vh;
    }  
    .jumbotron-text {
        display: none;
    }
    .callout-background {
       height: 100vh;
    }
    #jumbotron-header {
        display: none;
    }
    .jumbotron-hr {
        display: none;
    }
    #overreach-logo {
        height: 6vh;
    }
 }

@media only screen and (max-height: 414px) {

    .jumbotron {
        margin-top: 1vh;
    }  
    .jumbotron-text {
        display: none;
    }
    .callout-background {
     height: 100vh;
    }
    #jumbotron-header {
        display: none;
    }
    .jumbotron-hr {
        display: none;
    }
 }
 
 @media only screen and (max-width: 414px) {
   
    #jumbotron-header {
     font-size: 4.5vw;
    }
    .jumbotron-text {
     font-size: 0.75rem;
    }
    .callout-icons {
        font-size: 1rem;
    }
   
 }
 
 @media only screen and (max-height: 900px) {
   
    .jumbotron {
        margin-top: 12vh;
     }
 
}

@media only screen and (max-height: 568px) {
   
    .jumbotron {
        margin-top: 7vh !important;
    }
}
 
 @media only screen and (max-height: 640px) {
   
    .jumbotron {
        margin-top: 9vh;
    }
    #jumbotron-header {
        font-size: 4.5vw;
    }
    .jumbotron-text {
        font-size: 0.62rem;
    }
    .callout-icons {
        font-size: 1rem;
    }
 
 }
 