{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    | Log a workout
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workout_tracker/css/workout_tracker.css' %}">
{% endblock %}%}

{% block content %}

{% if errors %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          </div>
    </div>
</div>   
{% endif %}

{% if in_progress == False %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Log Workout</h2>
        </div>
    </div>   
    <form id="workout-sets" class="mt-3" action="{% url 'active_workout' %}" method="POST">
        {% csrf_token %}
        <hr id="exercise-seperator-1" class="mt-1 mb-1 w-100">
        <div class="form-row exercise-row">
            <div class="form-group col-sm-4">
                <label for="exercise-1-name">Exercise</label>
                <input type="text" id="exercise-1-name" class="exercise-name form-control" minlength="2" maxlength="32" name="exercise-1-name" required>
            </div>
            <div class="form-group col-3 col-sm-2">
                <label for="exercise-1-sets">Sets</label>
                <input id="exercise-1-sets" class="set-count form-control" type="number" min="1" max="50" name="exercise-1-sets" required>
            </div>
            <div class="form-group col-3 col-sm-2">
                <label for="exercise-1-reps">Reps</label>
                <input id="exercise-1-reps" class="form-control" type="number" min="1" max="250" name="exercise-1-reps" required>
            </div>
            <div class="form-group col-6 col-sm-4">
                <label for="log-exercise-1">&nbsp;</label>
                <button id="log-exercise-1" class="btn btn-outline-secondary w-100 form-control log-exercise" name="log-exercise-1" type="button"><i class="fas fa-check"></i></button>                
            </div>
        </div>
        <hr id="form-separator" class="mt-0 w-100">       
        <div id="rest-timer-container" class="form-row">
            <div class="form-group col-6">
                <button id="rest-timer" class="btn btn-outline-secondary form-control" type="button"><i class="fas fa-stopwatch"></i></button>
            </div>
            <div class="form-group col-6">
                <button id="add-exercise" class="btn btn-outline-secondary form-control" name="log-exercise" type="button"><i class="fas fa-plus"></i>   <i class="fas fa-dumbbell"></i></button>
            </div>
        </div>
        <div id="button-container" class="form-row justify-content-center">
            <div class="form-group col-sm-6"> 
                <button class="btn btn-success form-control text-uppercase" id="save" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
<div class="container mb-5">
    <div class="form-row justify-content-center">
        <div class="form-group col-6 col-sm-2"> 
            <button class="btn btn-info form-control text-uppercase" id="show-help">
                <i class="fas fa-question-circle"></i>
            </button>           
        </div>    
    </div>
</div>

{% else %}

<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Log Workout</h1>
        </div>
    </div>     
    <form id="workout-sets" class="mt-3" action="{% url 'active_workout' %}" method="POST">
        {% csrf_token %}
        {% for exercise in workout %}
            <div class="form-row exercise-row">
                <div class="form-group col-sm-4">
                    <label for="exercise-{{ forloop.counter }}-name">Exercise</label>
                    <input type="text" id="exercise-{{ forloop.counter }}-name" class="exercise-name form-control" minlength="2" maxlength="32" name="exercise-{{ forloop.counter }}-name" value="{{ exercise.exercise }}" required>
                </div>
                <div class="form-group col-3 col-sm-2">
                    <label for="exercise-{{ forloop.counter }}-sets">Sets</label>
                    <input id="exercise-{{ forloop.counter }}-sets" class="set-count form-control" type="number" min="1" max="50" name="exercise-{{ forloop.counter }}-sets" value="{{ exercise.sets }}" required>
                </div>
                <div class="form-group col-3 col-sm-2">
                    <label for="exercise-{{ forloop.counter }}-reps">Reps</label>
                    <input id="exercise-{{ forloop.counter }}-reps" class="form-control" type="number" min="0" max="250" name="exercise-{{ forloop.counter }}-reps" value="{{ exercise.reps }}" required>
                </div>
                <div class="form-group col-6 col-sm-4">
                    <label for="log-exercise-1">&nbsp;</label>
                    <button id="log-exercise-1" class="btn btn-outline-secondary w-100 form-control log-exercise" name="log-exercise-1" type="button"><i class="fas fa-check"></i></button>                
                </div>
            </div>
            {% for set in exercise.set_volumes %}
                <div class="form-row weight-reps-rpe-${x}">
                    <div class="form-group col-6">
                        <label class="small-label" for="weight-{{ forloop.counter }}-exercise-{{ forloop.parentloop.counter }}"><small>Weight</small></label>
                        <input type="number" step="0.5" name="weight-{{ forloop.counter }}-exercise-{{ forloop.parentloop.counter }}" placeholder="Weight lifted" min="0" max="1200" class="form-control" value="{{ set.weight }}" required>
                    </div>
                    <div class="form-group col-2">
                        <label class="small-label" for="reps-{{ forloop.counter }}-exercise-{{ forloop.parentloop.counter }}"><small>Reps</small></label>
                        <input type="number" name="reps-{{ forloop.counter }}-exercise-{{ forloop.parentloop.counter }}" placeholder="Reps" min="0" max="250" class="form-control" value="{{ set.rep_count }}" required>
                    </div>
                    <div class="form-group col-2">
                        <label class="small-label" for="rpe-{{ forloop.counter }}-exercise-{{ forloop.parentloop.counter }}"><small>RPE</small></label>
                        <input type="number" step="0.5" name="rpe-{{ forloop.counter }}-exercise-{{ forloop.parentloop.counter }}" placeholder="RPE" min="1" max="10" class="form-control" value="{{ set.rpe }}" required>
                    </div>
                    <div class="form-group col-2">
                        <label class="small-label" for="delete-set-${i}">&nbsp;</label>
                        <button class="btn btn-outline-secondary w-100 form-control delete-set" name="delete-set-${i}" type="button"><i class="fas fa-trash"></i></button>                
                    </div>              
                </div>
            {% endfor %}
        {% endfor %}
        <hr id="form-separator" class="mt-0 w-100">       
        <div id="rest-timer-container" class="form-row">
            <div class="form-group col-6">
                <button id="rest-timer" class="btn btn-outline-secondary form-control" type="button"><i class="fas fa-stopwatch"></i></button>
            </div>
            <div class="form-group col-6">
                <button id="add-exercise" class="btn btn-outline-secondary form-control" name="log-exercise" type="button"><i class="fas fa-plus"></i>   <i class="fas fa-dumbbell"></i></button>
            </div>
        </div>
        <div id="button-container" class="form-row justify-content-center">
            <div class="form-group col-sm-6"> 
                <button class="btn btn-success form-control text-uppercase" id="save" type="submit">Save</button>
            </div>
        </div>        
    </form>    
</div>
<div class="container mb-5">
    <div class="form-row justify-content-center">
        <div class="form-group col-6 col-sm-2"> 
            <a href="{% url 'delete_active_workout' %}">
                <button class="btn btn-danger form-control text-uppercase" id="delete-workout">
                    <i class="fas fa-trash"></i>
                </button>
            </a>
        </div>
    </div>
</div>
{% endif %}   

<!-- Rest timer -->
<div id="rest-timer-overlay">
    <div class="row text-center">
        <div class="col-12">
            <h2 id="timer-header" class="text-light">Rest Timer</h2>
            <div id="timer-selector" class="text-light">
                <div class="btn-group" role="group" aria-label="rest-timer-selector">
                    <button id="60-seconds" type="button" class="btn btn-timer btn-secondary">60s</button>
                    <button id="90-seconds" type="button" class="btn btn-timer btn-secondary">90s</button>
                    <button id="120-seconds" type="button" class="btn btn-timer btn-secondary">120s</button>
                    <button id="180-seconds" type="button" class="btn btn-timer btn-secondary">180s</button>
                    <button id="240-seconds" type="button" class="btn btn-timer btn-secondary">240s</button>
                </div>
            </div>
            <div class="text-light">
                <p id="timer-display">000</p>
            </div>
            <div id="close-timer-container" class="continer">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-4 text-center">
                        <button id="close-timer" class="btn-danger btn btn-block text-light"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'workout_tracker/js/dynamic_form.js' %}"></script>
    <script src="{% static 'workout_tracker/js/rest_timer.js' %}"></script>
{% endblock %}