{% extends "base.html" %}
{% load static %}

{% block content %}
<form class="mt-3" action="{% url 'workout_tracker' %}" method="POST">
    {% csrf_token %}
    {{ form.session_name.label }}:
    {{ form.session_name }}
    {{ form.workout.as_hidden }}
    <!-- <button class="btn btn-black rounded-0 text-uppercase float-right">Submit</button> -->
</form>
<form id="workout-sets" class="mt-3" action="" method="POST">
    {% csrf_token %}
    <input type="text" name="exercise_name" placeholder="exercise_name">
    <input id="exercise-1-sets" type="number" name="sets" placeholder="sets">
    <input id="exercise-1-reps" type="number" name="reps" placeholder="reps">
    <br>
    <button type="submit">Submit</button>
</form>
<button id="start">Start</button>
<button id="add-exercise">Add exercise</button>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">

$('#start').click(function(e) {
    let numberOfSets = $("#exercise-1-sets").val();
    let workoutSets = $("#workout-sets");
    for (i = 0; i < numberOfSets; i++) {
        workoutSets.append(`<input type="number" name="weight-${i}" placeholder="weight">
        <input type="number" name="reps-${i}" placeholder="reps">
        <input type="number" name="rpe-${i}" placeholder="rpe"><br>`);
}});

$('#add-exercise').click(function(e) {
    let workoutSets = $("#workout-sets");
    let exerciseNumber = $('#exercise-1-sets').attr("id")
    let i = parseInt(exerciseNumber.slice(9, 10)) + 1
    console.log(i)
    workoutSets.append(`<input type="text" name="exercise_name" placeholder="exercise_name">
    <input id="exercise-${i}-sets" type="number" name="sets" placeholder="sets">
    <input id="exercise-${i}-sets" type="number" name="reps" placeholder="reps">
    <br>`)
});
</script>   
{% endblock %}