{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- 
<h5>{{ total_volume }}</h5>
<br>
<h5>{{ total_reps }}</h5>
<br>
<h5>{{ average_rpe }}</h5>
<br> -->

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h2>{{ workout.session_name }}</h2>
            <p><small>Logged by {{ workout.created_by }} on {{ workout.created_at }}</small></p>
            {% if request.user == workout.created_by.user %}
                <a href="{% url 'edit_workout' workout.id %}">
                    <button class="btn btn-primary btn-sm btn-block">Edit</button>
                </a>
            {% endif %}
        </div>
        <div class="col-sm-8 mt-2">
            <div class="accordion" id="workout-accordian">
                {% for exercise in workout.workout %}
                <div class="card">
                    <div class="card-header" id="heading-{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left w-100 h-100" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                                {{ exercise.exercise}} for {{ exercise.sets }} of {{ exercise.reps }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse-{{ forloop.counter }}" class="collapse show" aria-labelledby="heading-{{ forloop.counter }}" >
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Set</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Reps</th>
                                    <th scope="col">RPE</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for weight_reps_rpe in exercise.set_volumes %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ weight_reps_rpe.weight }}</td>
                                        <td>{{ weight_reps_rpe.rep_count }}</td>
                                        <td>{{ weight_reps_rpe.rpe  }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                                <table class="table sub-table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"><small>Volume</small></th>
                                            <th scope="col"><small>Exercise reps</small></th>
                                            <th scope="col"><small>Average RPE</small></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><small>Totals:</small></th>
                                            <td>VOL</td>
                                            <td>REPS</td>
                                            <td>RPE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block postloadjs %}

{% endblock %}