{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Workout</h1>

{{ workout.session_name }}
{{ workout.created_by }}
{{ workout.created_by }}
{% for exercise in workout.workout %}
    {{ exercise.exercise }}
    {{ exercise.sets }}
    {{ exercise.reps }}
    {% for weight_reps_rpe in exercise.set_volumes %}
        {{ weight_reps_rpe.weight }}
        {{ weight_reps_rpe.rep_count }}
        {{ weight_reps_rpe.rpe }}
    {% endfor %}
{% endfor %}
<a href="{% url 'edit_workout' workout.id %}" class="btn btn-primary">Edit</a>

{% endblock %}

{% block postloadjs %}
{% endblock %}