{% extends "base.html" %}
{% load static %}

{% block content %}

{% if recent_workouts|length > 0 %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
            <h2>Dashboard</h2>
            <h4>Welcome, {{ request.user.username }}</h4>
        </div>
        </div>
        <div class="row mt-3">       
            {% for workout in recent_workouts %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ workout.session_name }}</h5>
                            <p class="card-text"><small>Logged on: {{ workout.created_at }}</small></p>                        
                                                        
                        </div>
                        <div class="row workout-metrics text-center">
                            <div class="col-4 vol-col"><small>Vol:</small></div>
                            <div class="col-4 reps-col"><small>Reps:</small></div>
                            <div class="col-4 rpe-col"><small>RPE:</small></div>
                            </div>
                            <div class="row workout-metrics text-center">
                                <div class="col-4 vol-col">{{ workout.session_volume }}</div>
                                <div class="col-4 reps-col">{{ workout.session_reps }}</div>
                                <div class="col-4 rpe-col">{{ workout.session_average_rpe }}</div>
                            </div>
                        <div class="row text-center workout-card-footer">
                            <div class="btn-group card-button-group" role="group" aria-label="Basic example">
                                <a href="{% url 'workout' workout.id %}" class="col-4 btn btn-secondary">View</a>
                                <a href="{% url 'edit_workout' workout.id %}" class="col-4 btn btn-secondary">Edit</a>
                                <a href="{% url 'delete_workout' workout.id %}" class="col-4 btn btn-secondary">Delete</a>
                              </div>
                        </div>
                    </div>
                </div>
 
            {% endfor %}
            <div class="col-12 col-lg-4">
                <a id="all-workouts-db-link" href="">
                <div id="all-workouts-db-link-card" class="card">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="row">
                            <div class="col-12 ">
                                <h4>View all workouts <i class="fas fa-chevron-right"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-2 mt-2">
                <hr>
            </div>
        </div>
    </div>

    <div class="container chart-container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h6>Reps vs Average RPE:</h6>
            </div>
            <div class="col-12 col-md-8">
                <canvas id="totalReps"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <h6>Reps vs Average RPE:</h6>
            </div>
            <div class="col-12 col-md-8">
                <canvas id="totalVolume"></canvas>
            </div>
        </div>
    </div>

    <!-- json script to be used in charts-->
    {{ rpe_chart_data|json_script:"rpe_chart_data" }}
    {{ total_reps_chart_data|json_script:"total_reps_chart_data" }}
    {{ total_volume_chart_data|json_script:"total_volume_chart_data" }}
    <!--  -->
{% else %}
    <p>Get started to see your workout data presented here</p>
{% endif %}

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'dashboard/js/workout_charts.js' %}"></script>
{% endblock %}