{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Dashboard</h1>


    {{ workout.session_name }}
    {% for exercise in workout.workout %}
        {{ exercise.exercise }}
        {{ exercise.sets }}
        {{ exercise.reps }}
        {% for weight_reps_rpe in exercise.set_volumes %}
            {{ weight_reps_rpe.weight }}
            {{ weight_reps_rpe.rep_count }}
            {{ weight_reps_rpe.rpe }}
        {% endfor %}
    {% endfor %}
<div class="row">
    {% for workout in workouts %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ workout.session_name }}</h5>
                    <p class="card-text"><small>Logged on: {{ workout.created_at }}</small></p>                        
                        <p class="card-text">{{ workout.workout.0.exercise }} for {{ workout.workout.0.sets }} sets of {{ workout.workout.0.reps }} reps</p>
                        <p class="card-text">Weight: {{ workout.workout.0.set_volumes.1.weight }} </p>
                    <a href="#" class="btn btn-primary">View workout</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block postloadjs %}
{% endblock %}