{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- prompt the user to log a workout -->
{% if recent_workouts|length == 0%}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <a class="all-workouts-db-link" href="{% url 'active_workout' %}">
            <div  class="card all-workouts-db-link-card">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <h4>Log a workout to activate your dashboard<i class="fas fa-dumbbell ml-3"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if recent_workouts|length > 0 %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mt-3">Dashboard</h2>
                <h6>Welcome, {{ request.user.username }}</h6>
            </div>
        </div>
        <div class="row mt-3">       
            {% for workout in recent_workouts %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body overflow-auto">
                            <h5 class="card-title">{{ workout.session_name }}</h5>
                            <p class="card-text"><small class="lightweight-text">Logged on: {{ workout.created_at }}</small></p>
                        </div>
                        <div class="row workout-metrics text-center">
                            <div class="col-4 vol-col text-light"><small>Vol:</small></div>
                            <div class="col-4 reps-col text-light"><small>Reps:</small></div>
                            <div class="col-4 rpe-col text-light"><small>RPE:</small></div>
                            </div>
                            <div class="row workout-metrics text-center">
                                <div class="col-4 vol-col text-light">{{ workout.session_volume|floatformat:"0" }}</div>
                                <div class="col-4 reps-col text-light">{{ workout.session_reps }}</div>
                                <div class="col-4 rpe-col text-light">{{ workout.session_average_rpe }}</div>
                            </div>
                        <div class="row text-center workout-card-footer">
                            <div class="btn-group card-button-group" role="group" aria-label="Workout actions">
                                <a href="{% url 'workout' workout.id %}" class="col-4 btn btn-secondary">View</a>
                                <a href="{% url 'edit_workout' workout.id %}" class="col-4 btn btn-secondary">Edit</a>
                                <a href="{% url 'delete_workout' workout.id %}" class="col-4 btn btn-secondary">Delete</a>
                              </div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
            <div class="col-12 col-lg-4">
                <a class="all-workouts-db-link" href="">
                <div  class="card all-workouts-db-link-card">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="row">
                            <div class="col-12 ">
                                <h4 class="text-light">View all workouts <i class="fas fa-chevron-right"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
    </div>
    <div class="container chart-container mt-3">
        <div class="row mb-3">
            <div class="col-12 text-center">
                <h4>Recent Metrics</h4>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-4">
                <h6 class="chart-title mt-4 mb-4 d-flex align-middle justify-content-center">Reps vs Average RPE:</h6>
            </div>
            <div class="col-12 col-md-8">
                <canvas id="totalReps"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <h6 class="chart-title mt-4 mb-4 d-flex align-middle justify-content-center">Volume vs Average RPE:</h6>
            </div>
            <div class="col-12 col-md-8">
                <canvas id="totalVolume"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <hr>
            </div>
        </div>
    </div>
{% endif %}

<!-- render friends workouts if user has friends with workouts -->
{% if friends_workouts|length > 0 %}
<div class="container mt-3">
    <div class="row mt-3">
        <div class="col-12 col-lg-4">
            <a class="all-workouts-db-link" href="{% url 'friends' %}">
            <div class="card all-workouts-db-link-card">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-12 ">
                            <h4>Friends workouts <i class="fas fa-chevron-right"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>       
        {% for workout in friends_workouts %}
            <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ workout.session_name }}</h5>
                        <p class="card-text"><small class="lightweight-text">{{ workout.created_at }} by <a href="{% url 'profile' workout.created_by.id %}">{{ workout.created_by }}</a></small></p>                 
                    </div>
                    <div class="row workout-metrics text-center">
                        <div class="col-4 vol-col"><small class="text-light">Vol:</small></div>
                        <div class="col-4 reps-col"><small class="text-light">Reps:</small></div>
                        <div class="col-4 rpe-col"><small class="text-light">RPE:</small></div>
                        </div>
                        <div class="row workout-metrics text-center">
                            <div class="col-4 vol-col text-light">{{ workout.session_volume }}</div>
                            <div class="col-4 reps-col text-light">{{ workout.session_reps }}</div>
                            <div class="col-4 rpe-col text-light">{{ workout.session_average_rpe }}</div>
                        </div>
                    <div class="row text-center workout-card-footer">
                        <div class="btn-group card-button-group" role="group" aria-label="Friends workout actions">
                            <a href="{% url 'workout' workout.id %}" class="col-12 view-other-users-workout btn btn-secondary">View</a>
                            </div>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- show if friends haven't logged workouts -->
{% if friends|length > 0 %}
    {% if friends_workouts|length == 0 %}
        <div class="container mt-3">
            <div class="row mt-3">
                <div class="col-12 col-lg-4">
                    <a class="all-workouts-db-link" href="{% url 'all_workouts' %}">
                    <div class="card all-workouts-db-link-card">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="row">
                                <div class="col-12 ">
                                    <h4>Find people to follow<i class="fas fa-chevron-right"></i></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="d-none d-sm-block col-12 col-lg-8">
                    <div class="card">
                        <div class="card-body empty-friends-workouts d-flex align-items-center justify-content-center">
                            <h5 class="card-title">Your friends are yet to log any workouts</h5>                                         
                        </div>
                        <div class="row text-center workout-card-footer">
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    {% endif %}
{% endif %}

<!-- prompt user to find some people to follow -->
{% if friends|length == 0 %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <a class="all-workouts-db-link" href="{% url 'all_workouts' %}">
            <div  class="card all-workouts-db-link-card">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <h4>Find some people to follow<i class="fas fa-user-friends ml-3"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% endif %}

<!-- json script to be used in charts-->
{{ rpe_chart_data|json_script:"rpe_chart_data" }}
{{ total_reps_chart_data|json_script:"total_reps_chart_data" }}
{{ total_volume_chart_data|json_script:"total_volume_chart_data" }}
<!-- end of scripts -->

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'dashboard/js/workout_charts.js' %}"></script>
{% endblock %}