{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    | Page not found
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 text-center offset-md-2 col-12">
            <h1>The page you requested wasn't found for some reason</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-center offset-md-2 col-12">
            <a href="{% url 'dashboard' %}"><h4>Back to the dashboard</h4></a>
        </div>
    </div>
</div>