{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>OverReach {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <div id="push-footer-outer">
        <div id="push-footer-inner">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light">
                    {% if request.user.is_authenticated %}
                        <a class="navbar-brand" href="{% url 'dashboard' %}">
                            <img src="/media/3_Overreach.svg" width="150" height="30" alt="Overreach logo">
                        </a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'home' %}">Overreach</a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav mt-1">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                                <a class="nav-link" href="{% url 'active_workout' %}">Workout</a>
                                <a class="nav-link" href="{% url 'friends' %}">Friends</a>
                                <a class="nav-link" href="{% url 'all_workouts' %}">Everyone</a>
                            {% endif %}
                        </div>  
                        <div class="navbar-nav mt-1 ml-auto">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        My Profile
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'profile' user.userprofile.id %}">View Profile</a>
                                        <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                                        <a class="dropdown-item" href="{% url 'membership_status' %}">Membership</a>
                                    </div>
                                </li>
                                <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                            {% else %}                        
                                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                                <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </header>

    {% block page_header %}
    {% endblock %}
    

    {% block content %}
    {% endblock %}
        </div>    
    </div>

    {% block postloadjs %}
    {% endblock %}

    <footer class="container-fluid w-100">
        <div class="row mh-50 mb-0 pb-0">
            <div class="col-12 text-left">
                <p class="lightweight-text pb-0 mb-0">
                    <small>Find us</small>                        
                </p>
            </div>
        </div>
        <div class="row mh-50">
            <div class="col-6 text-left">
                <p class="socialMedia-links mb-0 text-light">
                    <a target="_blank" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a target="_blank" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/alastair-porwal-30385557/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </p>
            </div>
            <div class="col-6 text-right">
                <p class="lightweight-text mb-0">
                    <small>Copyright Overreach 2021</small>                        
                </p>
            </div>
        </div>            
    </footer>
</body>

</html>