
/* Payment overlay - attribution in Readme */
#payment-processing-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 178, 131, 0.75);
    z-index: 9999;
}

.dumbbell-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
