{% extends "base.html" %}
{% load static %}

{% block content %}
<form id="workout-sets" class="mt-3" action="" method="POST">
    {% csrf_token %}
    <input type="text" id="exercise-1-name" class="exercise-name" name="exercise-1-name" placeholder="exercise_name">
    <input id="exercise-1-sets" class="set-count" type="number" name="exercise-1-sets" placeholder="sets">
    <input id="exercise-1-reps" type="number" name="exercise-1-reps" placeholder="reps">
    <br>   
    <button type="submit">Submit</button>
</form>
<button id="start">Start</button>
<button id="add-exercise">Add exercise</button>   

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'active_workout/js/dynamic_form.js' %}"></script>
{% endblock %}